: root{
    --font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    font-family: var(--font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    color:rgb(60, 192, 192);
    background-image:url(/assets/images/img004\ copy.png);
    background-position: 20%;
    background-attachment: fixed;
    background-size:90%;


  
    

}

header h1 {
    font-size: 50px;
    border-style: solid;
    padding:10px;
    background-color: rgb(80, 80, 80);
    
    
}

header nav {
    padding:20px 35px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px; 
    color:rgb(60, 192, 192);
}

.image-banner {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image:url(/assets/images/img004\ copy.png);
    background-position: 20%;
    background-attachment: fixed;
    background-size:90%;


}

.image-banner h2 {
    color: rgb(60, 192, 192);
    font-size: 48px;
    position:relative;
    top:270px;
    float:right;
    padding-right:50px;
    background-color: rgb(80, 80, 80);
}

main {
    width:100%;
    background-color: gray;
    display: grid;
    grid-template-rows:repeat(5);

}
.content {
    padding:30px;
    height: 300px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 35px;
}

.content p {
    font-size: 20px;
}

