* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

header {
  font-family: var(--font);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  color: rgb(60, 192, 192);
  background-image: url(/assets/images/img004.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 50px;
  border-style: solid;
  padding: 10px;
  background-color: rgb(80, 80, 80);
}

.nav a {
  color: rgb(60, 192, 192);
  text-decoration: none;
  border-bottom: 3px solid rgb(60, 192, 192);
  padding: 5px;
  margin: 5px;
}

header nav {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(60, 192, 192);
  text-decoration: none;
}

.image-banner h2 {
  color: rgb(60, 192, 192);
  font-size: 36px;
  background-color: gray;
  border-style: solid;
  padding: 5px;
}

.image-banner {
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
  background-image: url(/assets/images/img004.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 180px 20px 0px;
}

/* Main Section */
.title {
  width: 15%;
  border-right: 3px solid rgb(60, 192, 192);
  text-align: right;
  margin: 10px 0;
  padding: 10px 20px;
  min-height: 100px;
}

.title a {
  width: 100%;
}

.title h2 {
  display: inline;
}

.description {
  
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.selfie {
  height: 300px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(60, 192, 192);
  margin-left: 22px;
  width: 601px;
  border: 3px solid black;
}
.description p {
  display: flex;
  flex-basis: 60%;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  align-content: center;
}

.project-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;
}

.projects {
  background-color: gray;
  margin: 10px;
  padding: 30% 8% 6% 0%;
  flex-basis: 80%;
  border: 3px solid rgb(60, 192, 192);
  background-image: url(/assets/images/horiseon.png);
  background-size: cover;
}

.projects p {
  position: absolute;
  padding: 10px;
  background-color: rgb(60, 192, 192);
}

.small {
  display: flex;
  margin: 8px;
  padding: 16% 8% 3% 0%;
  flex-basis: 39%;
  border: 3px solid rgb(60, 192, 192);
  justify-content: space-between;
}



.small p {
  display: flex;
  justify-content: start;
  padding: 10px;
  background-color: rgb(60, 192, 192);
}

#graphic {
  background-color: rgb(60, 192, 192 0.8);
  background-image: url(./assets/images/random1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#photography {
  background-image: url(./assets/images/img039.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#furniture {
  background-image: url(./assets/images/DSC0903.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  background-image: url(./assets/images/Eriq2logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 15px;
}

.contact-info a {
  color: rgb(60, 192, 192);
  text-decoration: none;
  padding: 5px;
  border-bottom: 3px solid rgb(60, 192, 192);
}

@media screen and (max-width: 2048px) {
  .image-banner {
    height: 340px;
    width: 100%;
  }
}
/* media query for smaller desktop screens and snaller */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0px;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

.nav a{
  border-bottom: 3px solid rgb(60, 192, 192);
  text-decoration: none;
  padding: 5px;
  color: rgb(60, 192, 192);
  margin: 5px;
}

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    
  }

  header nav ul li a {
    font-size: 20px;
  }

  .image-banner {
    height: 255px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .image-banner {
    height: 258px;
    width: 100%;
  }

  /* this will be applied on any screen between 768px and 575px */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .image-banner {
    height: 258px;
    width: 100%;
  }

  .project-container {
    flex-wrap: wrap;
    display: flex;
  }
  /* this will be applied on any screen smaller than 575px */
}
